:root{
    --background-gray: rgb(38, 38, 41);
}

body{
   margin: 0;
}

header{
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    color: white;
    border-bottom: 2px solid red;
    height: 64px;
}

.search-form{
    display: flex;
    align-items: center;
    padding: 20;
    
}

.dnd-logo{
    flex-direction: column;
    font-size: 27px;
    font-weight: 800;
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    justify-content: center;
    align-items: center;
    line-height: 18px;
}

.search-button{
    display: flex;
    width: 40px;
}

.red{
    font-size: 14px;
    color: red;
}

a{
    text-decoration: none;
    color: inherit;
}

.sitebar-container{
    display: flex;
    width: 1200px;
}

.site-interactions-groups{
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 10px;
    margin: 0;
}

.site-interactions-group-search{
    flex-grow: 1;
}

.site-interactions-search{
    display: flex;
}

.search-input{
    display: flex;
    background: black;
    color: white;
    border: none;
    font-size: 18px;
    margin: 0 20px;
}

.search-input:focus{
    outline: 0px;
}

.search-logo{
    width: 40px;
}

.social-network-list{
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-right: 20px; 
}

.social-network-logo{
    width: 18px;
}

.social-network-item{
    display: flex;  
    margin-left: 20px;
    width: 18px;
    height: 18px;
}

.site-interactions-user{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.user-interactions-quick{
    justify-content: center;
}

.user-interactions-list{
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-right: 20px;
}

.user-interactions-item{
    display: flex;  
    margin-left: 20px;
    width: 18px;
    height: 18px;
}

.user-interactions-profile{
    display: flex;
    align-items: center;
    font-size: 13px;
    border-left: 1px solid var(--background-gray);
    height: 64px;
    padding-left: 20px;
    padding-right: 10px;
}

.user-profile-previw{
    display: flex;
    align-items: center;
    
}

.nickname{
    display: inline-block;
    margin-left: 5px;
}

.profile-picture{
    border-radius: 50%;
    width: 22px;
    height: 22px;
    background-color: aqua;
}

.site-interactions-group-user{
    border-left: 1px solid var(--background-gray);
}

nav{
    display: flex; 
    height: 56px;
    justify-content: center;
    background-color: rgb(38, 40, 42);
}

.navbar-container{
    box-sizing: border-box;
    padding: 0 16px;
    display: flex;
    color: rgb(162, 172, 178);
    width: 1200px;
    font-family: 'Roboto', serif;
    font-size: 1rem;
}

.navbar-button:hover{
    color: white;
}

.navbar-container li{
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.caret-down{
    width: 10px;
    margin-left: 4px;
}


.footer-main-container{
    display: flex;
    flex-grow: 1;
    max-width: 90%;
    margin: 0 auto;
    padding: 2.5% 3% 1.5% 3.25%;
    justify-content: space-between;
    box-sizing: border-box;
    height: fit-content;
    flex-wrap: wrap;
}

.footer-main ul{
    padding: 0;
    line-height: 21px;
}
.footer-main li {
    color: white;
    font-family: 'Roboto', serif;
    font-size: 13px;
    text-decoration: none;
    list-style: none;
}

.footer-main li:hover{
    color: rgb(162, 172, 178);
}
.footer-main{
    display: flex;
    background-color: rgb(38, 40, 42);
    justify-content: center;
    min-height: 265px;
}

.footer-main-header{
    font-family: 'Roboto', serif;
    font-weight: 700;
    color: rgb(162, 172, 178);
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.3;
    margin: 0;
    margin-bottom: 4px;
}

.footer-bottom{
    display: flex;
    background-color: black;
}
.footer-bottom-container{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 2.5% 3% 1.5% 3.25%;
    max-width: 90%;
    margin: 0 auto;
    flex-grow: 1;
}

.footer-bottom-link{
    display: flex;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-wrap: nowrap;
    padding: 6px;
}
.esrb-logo{
    display: inline-block;
    width: 42px;
    height: 56px;
}

.esrb-logo img{
    background-color: white;
    width: 100%;
    height: 100%;
}

.narrow-header{
    display: flex;
    height: 46px;
    background-color: rgb(18,18,18);
    border-top: 1px solid rgb(35, 35, 35);
    justify-content: flex-start;
    position: fixed;
    z-index: 5;
    width: 100%;
}

.narrow-header-container{
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
}

.burger-menu{
    width: 46px;
    border-left: 1px solid gray;
}

.search-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
}

.burger-menu-image{
    width: 20px;
}

.interactions-compact{
    display: flex;
    height: 100%;
    align-items: stretch;
    border-left: 1px solid gray;
}

.footer-main .social-network-list{
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    margin-left: -10px;
}

.footer-main .social-network-item{
    margin-bottom: 20px;
    margin-left: 10px;
}

.footer-logo{
    display: flex;
    justify-content: center;
}

.footer-logo img{
    width: 178px;
    height: 58px;
}
.footer-main-section{
    width: 15%;
    flex-grow: 1;
    margin: 0 10px;
}

.footer-bottom-text-container{
    flex-shrink: 1;
}

@media (min-width: 1024px){
    .narrow-header{
        display: none;
    }
}

@media (max-width:1200px){
    .sitebar-container{
        flex-shrink: 1;
    }
    
    .navbar-container{
        flex-shrink: 1;
    }

    .footer-main-section{
        margin: 0 20px;
    }
}

@media (max-width: 1024px){
    .large-header{display: none;}
    
    .home{
        padding-top: 50px;
    }

    .search-button-image{
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 960px){
    
    .footer-bottom-container{
        flex-wrap: wrap;
    }
    .footer-main-section{
        width: 40%;
    }
    
    .footer-socials{
        width: 80%;
    }
    .footer-logo{
        width: 100%;
        margin-bottom: 10px;
    }

    .footer-bottom-section{
        width: 40%;
        margin: 20px 0px;
    }

    .footer-bottom-text-container{
        width: 100%;
        flex-shrink: 0;
    }



    
}

